<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> About Us Page Design </title>
        <link rel="stylesheet" href="static/about_us.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />

    </head>

    <body>
        <!--================== Header Section Starts from Here ==================-->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top " id="logo">
            <a class="navbar-brand" href="#" style="color: black;">
                <img src="static/about_images/loggggooo.jpg" style="width: 200px; height: 40px; margin-left: 5px;">&nbsp;
            </a>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/" style="color: black;">Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about_us" style="color: black;">About Us</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Ayurvedic_treatment" style="color: black;">Ayurvedic
                            Treatments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#products" style="color: black;">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog" style="color: black;">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact_us" style="color: black;">Doctor Consultation
                            </a>
                    </li>
                </ul>
            </div>
        </nav>
        <header>

        </header>
        <!--================== Header Section Ends Here -->


        <!--================== Home Section Starts from Here ==================-->
        <section id="home">
            <div class="home-left">
                <img src="static/about_images/new2.jpg" alt="" height="50px" width="500px">
            </div>
            <div class="home-right">
                <h2 class="home-heading">Ayurveda Express</h2>
                <p class="home-para"><b>"Ayurveda Express" </b>can function as an online platform that offers a range of
                    Ayurvedic services, information, and resources to individuals seeking holistic health and well-being
                    through Ayurveda. The website regularly publishes informative blog posts, articles, and resources on
                    Ayurveda-related topics. These resources help visitors deepen their understanding of Ayurveda and
                    offer practical tips for integrating Ayurvedic principles into their daily lives.</p>
                <!-- <a href="" class="btn"> Our Work</a> -->
            </div>
        </section>
        <!--================== Home Section Ends Here -->

        <!--================== Workflow Section Starts from Here ==================-->
        <section id="workFlow">
            <h2 class="heading"> Grow Up Your Workflow Speed. </h2>
            <p class="para" id="para2">Improving workflow speed in healthcare research is crucial for ensuring efficient
                data analysis, evidence gathering, and decision-making. <br>Develop research templates and checklists
                for various stages of the research process, from study design to manuscript writing. These can save time
                and ensure completeness.</p>
            <div class="num-container">
                <div class="num-item"><span>Initial<br>Customers</span></div>
                <div class="num-item"><span>90% <br>Action Plans</span></div>
                <div class="num-item"><span><br>Downloads</span></div>
            </div>
        </section>
        <!--================== Workflow Section Ends Here -->


        <!--================== Goal Section Starts from Here ==================-->
        <section id="goal">
            <div class="goal-left">
                <h2>Our Goal</h2>
                <p>We are follow the following goals and objectives for Ayurveda, a traditional system of medicine that
                    originated in India, can vary depending on the context and the specific aims of practitioners and
                    organizations involved in Ayurvedic healthcare. However, some common overarching goals and
                    principles for Ayurveda include:</p>
                <ul>
                    <li><b>Promoting Health and Wellness:</b> One of the primary goals of Ayurveda is to help
                        individuals attain and maintain optimal health and wellness. This is achieved through a holistic
                        approach that addresses the physical, mental, and spiritual aspects of a person's well-being.
                    </li>
                    <li><b>Holistic Approach: </b>Ayurveda considers the interconnectedness of the body, mind, and
                        spirit. The goal is to address imbalances in all these aspects to achieve comprehensive
                        well-being.</li>
                    <li> Stress Reduction:</b> Ayurveda incorporates stress-reduction techniques such as yoga,
                        meditation, and mindfulness to promote mental and emotional well-being.</li>
                    <li> <b>Natural Healing:</b> Ayurveda relies on natural remedies derived from plants, herbs,
                        minerals, and other natural sources. The goal is to use these natural substances to support the
                        body's innate healing abilities.</li>
                    <li><b>Lifestyle and Diet Modification:</b> Ayurveda emphasizes the importance of a balanced diet,
                        proper nutrition, and a healthy lifestyle as key factors in maintaining health and preventing
                        diseases.</li>
                    <li><b> Research and Education:</b> Promoting research and education in Ayurveda is essential to
                        ensure the continued development and acceptance of this ancient system of medicine. The goal is
                        to bridge traditional knowledge with modern science.</li>
                    <li><b> Cultural Preservation:</b> Ayurveda is an integral part of Indian culture and heritage.
                        Preserving and promoting this cultural heritage is also a goal for Ayurveda practitioners and
                        organizations.</li>
                </ul>
                <a href="#" class="btn"> Contact Us</a>
            </div>
            <div class="goal-right">
                <img src="static/about_images/new.jpg" alt="">
            </div>
        </section>
        <!--================== Goal Section Ends Here -->

        <!--================== Our Team Section Starts from Here ==================-->
        <section id="our-Team">
            <h2>Our Member</h2>
            <div class="teamContainer">
                <div class="team-item">
                    <img src="static/about_images/profile.png" alt="">
                    <h5 class="member-name">Manthan Patel</h5>
                    <span class="role">Frontend and Data Analyst</span>
                </div>
                <div class="team-item">
                    <img src="static/about_images/profile.png" alt="">
                    <h5 class="member-name">Krish S. Patel</h5>
                    <span class="role">Backend with Data-Base</span>
                </div>
                <div class="team-item">
                    <img src="static/about_images/profile.png" alt="">
                    <h5 class="member-name">Hiren Chaudhary</h5>
                    <span class="role">Assisant Frontend</span>
                </div>
                <div class="team-item">
                    <img src="static/about_images/profile.png" alt="">
                    <h5 class="member-name">Kishan Patel</h5>
                    <span class="role">UX/UI Designer</span>
                </div>
                <div class="team-item">
                    <img src="static/about_images/profile.png" alt="">
                    <h5 class="member-name">Krish Patel</h5>
                    <span class="role">Assisant Frontend</span>
                </div>
                <div class="team-item">
                    <img src="static/about_images/profile.png" alt="">
                    <h5 class="member-name">Kritika </h5>
                    <span class="role">Presentation</span>
                </div>
            </div>
        </section>
        <!--================== Our Team Section Ends Here -->

        <!--================== Footer Starts from Here ==================-->
        <footer>
            <p> &copy; 2022 - All rights reserved - geekshelp.in</p>
        </footer>
        <a href="#" id="home_link"> Back to Top <svg xmlns="http://www.w3.org/2000/svg" height="1em"
                viewBox="0 0 512 512">
                <path
                    d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z" />
            </svg></a>
        <!--================== Footer Ends Here -->

    </body>
    <script src="script.js"></script>

</html>