<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <title>AyurPharma</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
            integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/static/Home-page.css">
        <link rel="stylesheet" href="static/slide.css">
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top " id="logo">
            <a class="navbar-brand" href="#">
                <img src="static/home_images/loggggooo.jpg" style="width: 200px; height: 40px; margin-left: 5px;">&nbsp;
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about_us">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Ayurvedic_treatment">Ayurvedic Treatments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact_us">Doctor Consultation</a>
                    </li>
                </ul>
            </div>
        </nav>
        <br><br>
        <div class="slider" style="border-radius: 20px;">
            <div id="img">
                <img src="static/home_images/29__2.jpg" />
            </div>
        </div>



        <div class="container marketing">
            <div class="row">
                <div class="col-lg-4"><br>
                    <img src="static/home_images/34.jpg" style="border-radius: 100px; width: 200px; height: 100px;">


                    <h2>Principles of Ayurveda</h2>
                    <p>Doshas: Understanding Vata, Pitta, and Kapha and their roles in the body. <br>
                        Prakriti: Discovering your unique constitution and its significance. <br>
                        Balance: The central concept of maintaining doshic equilibrium for health. <br></p>
                    <p><a class="btn btn-secondary"
                            href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5198827/#:~:text=Ayurveda%20believes%20that%20the%20entire,human%20body%20in%20varying%20combinations.">In-Depth
                            &raquo;</a></p>
                </div>
                <div class="col-lg-4"><br>
                    <img src="static/home_images/35.jpg" style="border-radius: 100px; width: 200px; height: 100px;">

                    <h2>Ayurvedic Practices</h2>
                    <p>Diet and Nutrition: Tailoring your diet to your dosha and using food as medicine. <br>
                        Herbal Remedies: Exploring the use of herbs and natural substances for healing. <br>
                        Yoga and Meditation: Integrating mind-body practices for holistic well-being.</p>
                    <p><a class="btn btn-secondary"
                            href="https://www.gaiam.com/blogs/discover/10-ayurvedic-rituals-to-start-practicing-now">In-Depth
                            &raquo;</a></p>
                </div>
                <div class="col-lg-4"><br>
                    <img src="static/home_images/36.jpg" style="border-radius: 100px; width: 200px; height: 100px;">

                    <h2>Ayurveda in Modern Health</h2>
                    <p>Integrative Medicine: Ayurveda's role alongside conventional healthcare. <br>
                        Mind-Body Connection: Managing stress and mental health through Ayurvedic principles. <br>
                        Scientific Research: Exploring the evidence-based aspects of Ayurveda.</p>
                    <p><a class="btn btn-secondary"
                            href="https://www.mediflam.com/blog/how-ayurveda-is-still-relevant-in-modern-times">In-Depth
                            &raquo;</a></p>
                </div>
            </div>


            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">What is Ayurveda? <span class="text-muted">Itll your
                            better health.</span></h2>
                    <p class="lead">Ayurveda is the ancient Indian system of natural and holistic medicine. When
                        translated from Sanskrit, Ayurveda means the science of life (the Sanskrit root ayur means
                        longevity or life and veda means science).

                        While allopathic medicine tends to focus on the management of disease, Ayurveda provides us with
                        the knowledge of how to prevent disease and how to eliminate its root cause if it does occur.

                    </p>
                </div>
                <div class="col-md-5">
                    <img src="static/home_images/31.jpg" alt="aaa" style="border-radius: 500px;">

                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">History & Core Principles of Ayurveda <span class="text-muted">See
                            for yourself.</span>
                    </h2>
                    <p class="lead">The knowledge of Ayurveda was passed on orally through a lineage of sages in India
                        until it was collated into text more than five thousand years ago. The oldest known texts on
                        Ayurveda are the Charaka Samhita, Sushruta Samhita, and the Ashtanga Hrudaya. These texts detail
                        the affect that the five elements found in the cosmic system - earth, water, air, fire, space -
                        have on our individual system, and expound on the importance of keeping these elements balanced
                        for a healthy and happy life.

                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="static/home_images/32.jpg" alt="bbb" width="500px" height="500px" style="border-radius: 400px;">

                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Ayurvedic Lifestyle. <span class="text-muted"> Live Like You Want.
                        </span></h2>
                    <p class="lead">Ayurveda places great importance on ones pathya, or lifestyle (eating habits and
                        daily routine). Ayurveda also provides guidance on how to adjust our lifestyle based on the
                        change of seasons.</p>
                </div>
                <div class="col-md-5">
                    <img src="static/home_images/33.jpg" alt="aaa" width="100px" height="100px" style="border-radius: 400px;">
                </div>
            </div>

            <hr class="featurette-divider">
        </div>
        </main>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
        <script src="static/home_script.js"></script>
        <footer id="footer" class="bg-dark text-white text-center py-4">
            <div class="upper-footer">
                <div class="up-left">
                    <div class="map" style="padding-left: 20px;">
                        <iframe id="map"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3666.103277098411!2d72.63615587524139!3d23.239328579022462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395c2b933477ba9f%3A0xe440409e66bea08a!2sLDRP%20Institute%20of%20Technology%20and%20Research!5e0!3m2!1sen!2sin!4v1695053499576!5m2!1sen!2sin"
                            width="280" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="content">
                        <center>
                            <h2 class="footer-heading" style="color: #FFF;"> About Us</h2>
                            <pre class="description">
Address:
LDRP Institute of Technology & Research,
Near KH-5,
Sector-15,
Gandhinagar - 382015.

E-Mail: ayurpharma21@gmail.com
Phone: + 91 1234567890
Fax: + 91 9876543210</pre>
                    </div>
                    </center>
                </div>
                <div class="up-right">
                    <h2 class="footer-heading" style="color: #FFF;"> Follow us</h2>
                    <ul>
                        <li class="linkedIn"><a href="https://www.linkedin.com/feed/"><i class="fa-brands fa-twitter"></i></a></li>
                        <li class="instagram"><a href="https://www.instagram.com/"><i
                                    class="fa-brands fa-instagram"></i></a></li>
                        <li class="facebook"><a href="https://www.youtube.com/"><i class="fa-brands fa-facebook"></i></a>
                        </li>
                        {% comment %} <li class="github"><a href="https://github.com/"><i class="fa-brands fa-github"></i></a>
                        </li> {% endcomment %}
                    </ul>
                </div>
                
            </div>
            {% comment %} <center>
                <p>&copy; 2023 Ayurveda. All rights reserved.</p>
                </center> {% endcomment %}
        </footer>

    </body>

</html>