<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Information Recived </title>
        <link rel="stylesheet" href="static/thank_you.css">
        <script src="https://kit.fontawesome.com/81d73e8e4d.js" crossorigin="anonymous"></script>

    </head>

    <body>
        <div class="result" style="margin: 100px; border: 2px solid black; background-color: rgb(107, 180, 149);">
            <center>
                <h1>Thank you for responding!</h1>
                <h3>We'll set up a doctor's appointment for you soon :) </h3>
                <br><br>
                <hr>
                <br><br>
                <div class="rating">
                    <div class="container" style="background-color: rgb(41, 187, 124);">
                        <h1>Please Rate us</h1>
                        <!-- Stars -->
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                </div>
                <!-- Thank You Message -->
                <h1 id="msg"></h1>
                <script src="static/thank_you.js"></script>
            </center>

        </div>
    </body>

</html>